@import "./mixins.scss";

.eventPage {
  text-align: center;
}
#Events {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100vw;
  text-align: center;
  display: none;
  justify-content: center;
  @media (min-width: 900px) {
    display: flex;
    transform: translate(0) scale(0.85);
  }
  @media (min-width: 1224px) {
    transform: translate(0) scale(1);
  }
  &:hover {
    box-shadow: none;
  }
}
