@import "./mixins.scss";
.app {
  @include font;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 35%);
  @media (min-width: 768px) {
    transform: scale(1.2) translate(-25%, 45%);
  }
  @media (min-width: 1024px) {
    transform: scale(1.5) translate(-25%, 45%);
  }
}
input {
  @include border;
  text-align: center;
  margin: 1.5%;
  outline: none;
}
button {
  @include font;
  @include button;
  margin-bottom: 5%;
}
.link {
  @include font;
  @include button;
  position: fixed;
  top: 60vh;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  @media (min-width: 768px) {
    top: 55vh;
  }
  @media (min-width: 1024px) {
    top: 45vh;
  }
}
